<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.vizonapps.facebookdemoapp"
        version   = "2.2.0">
    <name>FbDemo</name>

    <description>
        Facebook App is a demo application.
    </description>

    <author href="http://vizonideas.com" email="support@vizonideas.com">
        VizonIdeas Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

</widget>